<hr>
<p>Created By <strong>Sarah Kwak 2015</strong></p>
<p>Please <a href='kwasy001@gmail.com'>contact me</a> with any questions about the app</p>
<p>You can review the code via my <a href='https://github.com/sarahkwak/perkers'>GitHub Account</a></p>
