<div class='how_to container'>
  <div class='how_container four columns'>
    <img src='https://anyperk.com/wp-content/uploads/2014/07/Employee-perks.png'/>
    <p>Add ease and fun to your employees' lives by offering them preferred pricing on hundreds of products and services nationwide. Perks don't expire and can recur monthly.</p>
  </div>
  <div class='how_container four columns'>
    <img src='https://anyperk.com/wp-content/uploads/2014/07/Employee-benefits.png' />
    <p>Inspire great performance with a Rewards product that allows you to easily recognize your employees for noteworthy achievements.</p>
  </div>
  <div class='how_container four columns'>
    <img src='https://anyperk.com/wp-content/uploads/2014/07/Perks-analytics.png' />
    <p>Measure the value you're adding to the company. Track employee savings and use redemption stats to identify the most popular perk categories.</p>
  </div>
</div>