<div class="hero">
  <h1>Employee Happiness Made Simple</h1>
</div>
<div class="container how-to row">
  <div class="three columns">three</div>
  <div class="three columns">three</div>
  <div class="three columns">three</div>
</div>
<div class=search>
  <form>
    SEARCH <input>
  </form>
</div>
<div class="container popular-perks">
  <h2>List of most popular perks</h2>
    <div class="two columns">two</div>
    <div class="two columns">two</div>
    <div class="two columns">two</div>
    <div class="two columns">two</div>
</div>
<div class=question>
</div>