<div class='favorite_page'>  
  <div class="hero">
    <h1>Your All Time Favorites</h1>
  </div>
  <% for i in 0..(@favorites.length-1)%>
    <% fpc_id = @favorites[i].perk_category_id %>
    <% @favorite_brand = Brand.find(PerkCategory.find(fpc_id).perk_id)%>
    <% @favorite_detail = Perk.find(PerkCategory.find(fpc_id).perk_id).details%>
  <div class='one-box'>
    <div class='favorite-details'>
      <p><strong>Name: </strong> <%= @favorite_brand.name %></p>
      <p><strong>Details: </strong><%= @favorite_detail %></p>
      <%= link_to "Unfavorite", unfavorite_path(@favorites[i]), method: :delete %>
    </div>
      <img src="<%= @favorite_brand.image %>"/>
    </div>
  </div>
  <% end %>
</div>