body {
  text-align: center;
  font-family: helvetica;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1416339134316-0e91dc9ded92?fit=crop&fm=jpg&h=1325&ixlib=rb-0.3.5&q=80&w=1100');
  height: 700px;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.hero h1 {
  padding-top: 30%;
  color: purple;
}
footer {
  text-align: right;
}
.nav {
  font-family: helvetica;
  text-align: right;
}
.how_to {
  height: 300px;
}
.search {
  height: 300px;
}
.popular-perks {
  height: 500px;
}
.question {
  height: 300px;
}