body {
  text-align: center;
  /*font-family: helvetica;*/
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1416339134316-0e91dc9ded92?fit=crop&fm=jpg&h=1325&ixlib=rb-0.3.5&q=80&w=1100');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 28vh;
  padding-top: 30%;
  opacity: 0.8;
}
.hero h1 {
  margin-top: -10%;
  font-size: 5em;
  color: #440044;
  font-family: 'Pacifico', cursive;
}
.nav {
  /*font-family: helvetica;*/
  text-align: right;
}
.how-to {
  height: 250px;
}
.list-category {
  height: 320px;
}
.category {
  height: 50px;
  border: 2px solid green;
}
.category p {
  font-size: 1.5em;
  padding-top: 15%;
}
/* User Favorite Section */
.user_favorite h2 {
  padding-top: 3%;
}
.favorite-box {
  height: 400px;
  width: 90%;
  background-color: orange;
}
.one-box {
  width: 45%;
  float: left;
  margin-left: 4%;
}
.favorite-details {
  float: left;
  width: 30%;
  padding-top: 10%;
  text-align: left;
  padding-left: 10%;
}
.favorite-picture {
  float: right;
  width: 20%;
}
img {
  width: 40%;
}

/*Google Map */
#map {
  height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Search Section */
.search {
  height: 70px;
  background-color: #B3B3CC;
  clear: both;
  padding-top: 30px;
}
/* List Perks */
.list_perks h3,p {
  text-align: left;
}
.list_perks h1 {
  font-family: 'Pacifico';
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 5em;
}
.brand_detail {
  margin-top: -30px;
  margin-bottom: -30px;
}
.brand_detail h3{
  color: purple;
}
.brand_detail h3:hover{
  color: #BB00BB;
}
.brand_detail img{
  width: 50%;
}
.float_left {
  float: left;
  text-align: left;
}
.float_right {
  float: right;
}
.hidden_detail {
  display: hidden;
  background-color: #D4E3F1;
  clear: both;
  top: -30px;
}
.favorite_btn {
  font-size: 5em;
  color: red;
}
.hidden_detail {
  text-align: left;
}
.favorite_btn:hover {
  color: #FF5BAD;
}

/* Favorite2 Section */
.favorite2 h2{
  font-size: 3em;
  color: #52527A;
}
/*Footer Section */
footer p{
  text-align: right;
  font-size: 1.4em;
  line-height: 0.7em;
}
/* Pagination Section */
.pagination {
  font-size: 1.2em;
  font-family: 'helvetica';

}